/*

FONTS:

'Josefin Sans'
'Noto Serif'
'Dancing Script'

COLORS:

light tan: #eeebda

*/

.clearfix {
  overflow: auto;
  zoom: 1;
}


body{
    font-family: 'Noto Serif', serif;
    line-height: 1.8;
    margin: 0;
    background-color: #eeebda;
    width: 1280px;
    margin: 0 auto;
    /*display: flex;*/
}
h1, h2, h3{
    font-family: "Josefin Sans", sans-serif;
    margin-top: 0;
    clear: both;
}
img{
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}
.wrapper{
    flex-basis: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 80px;
}
#site-header{
  z-index: -1;
    /*
        TODO
        - Flexbox property here
    */
}
#site-header div{
    text-align: center;
    padding: 60px 0 120px 0;
    font-size: 4em;
    background-image: url(header-img.jpg);
    background-size: cover;
    background-position: right bottom;
}
#site-header div h1,
#site-header div h3{
    margin: 0;
    line-height: 1;
    position: relative;
}
#site-header div h1{
    top: 20px;
}
#site-header div h3{
    color: white;
    bottom: 20px;
    text-shadow: 0 5px 8px rgba( 0, 0, 0, 0.3 );
    /*display: flex;*/
    font-family: "Dancing Script" sans-serif;
}

#main-navigation{
    background: #444;
    display: flex;
    /*
        TODO:
        - Use Flexbox to arrange the navigation links
    */
}
#main-navigation a{
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    align-content: space-between;
    /* NOTE: Created space between but issue with articles */

    /*
        TODO:
        - Flexbox - Create general spacing between nav links
    */
}
#main-navigation #logo{
    margin-right: 400px;

    /*
        TODO:
        - Flexbox - The logo needs to take up more space
        that the other links
    */
}
main{
    padding: 20px;
    background-color: #444;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
    display: flex;
    width: 500px;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
     /* NOTE: width added but need to move items */
    /*
        TODO:
        - Flexbox: Set the starting width of this element
        - Use relative positioning to bump this upward
    */
}
aside{
    padding: 20px;
    background-color: #eee;
    box-shadow: 5px 5px 8px rgba( 0, 0, 0, 0.3 );
    width: 200px;
    flex-direction: column;
    display: flex;
    /*
        TODO:
        - Flexbox: Set the starting width of this element
        - Use relative positioning to bump this upward
    */
}
aside h3{
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}
aside img{
    border-radius: 50%;
    margin-bottom: 30px;
    border: 2px solid white;
}
article{
    background-color: white;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
    padding: 20px;
    margin-bottom: 20px;
    flex-basis: 100px;
    /*justify-content: space-around;
    flex-direction: column;*/
}
article h2{
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
article time{
    font-size: 0.8em;
    text-align: center;
    display: block;
    margin-bottom: 30px;
    color: #666;
}
article img{
  float:right;
    /* NOTE: Floated to right but stuck in the middle at the moment */
    /*
        TODO:
        - Float article images to the right
        and match sizes and spacing to the mockup
    */
}
article footer p{
  clear:both;
    /*
        TODO:
        - Style the article footer
        HINT: Look to the article header;
    */
}
#site-footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;

}

div h3{
  justify-content: center;
  font-family: "Dancing script", cursive;
}
